<!-- Modal -->
<div class="modal fade" id="edit-task-modal-<%= task.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div id="conf-modal-content" class="modal-content">
      <div id="conf-modal-header" class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Your Task</h5>
        <button id="conf-modal-close-button" type="button" class="close" data-dismiss="modal" aria-label="Close" data-backdrop="false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="conf-modal-body edit-task-modal-body" class="modal-body">
       <%= simple_form_for (task) do |form| %>
        <%= form.input :description %>
        <%= form.input :due_date, as: :string, input_html: {value: Date.today, class: "datepicker"} %>
        <%= form.input :priority, collection: ["Low", "Medium", "High"] %>
        <%= form.button :submit, "Update!", class: "garden-button", id: "update button" %>
      <% end %>
      </div>
      <div id="conf-modal-footer" class="modal-footer">
        </div>
      </div>
  </div>
</div>
