<% content_for :meta_title, "Green Thumb | My tasks" %>
<% content_for :meta_description, " Manage your gardening tasks" %>
  <div class="menu-headline">
    <div class="add-task-flexbox">
      <h1>Hello, <%= current_user.first_name %>!</h1>
    </div>
      <div>
        <button id="new-task-button" type="button" class="new-task-button" data-toggle="modal" data-target="#new-task-modal">
          <div id="add-task-plus">+</div>
        </button>
      </div>
    </div>
  <div class="list">
  <%= render'/tasks/task_form', task: @task %>
  <% if @tasks.empty? %>
    <p>Good job! You've done all your tasks!</p>
  <% end %>
  <% @tasks.each do |task| %>
  <!-- changes color of border-left according to level of priority -->
  <!-- the ampersand accounts for the case when priority is nil, so that the downcase method doesn't make the code break -->
    <% case task.priority&.downcase %>
      <% when "high" %>
        <% border_color = "#FA520A" %>
      <% when "medium" %>
        <% border_color = "#FA9E0A" %>
      <% when "low" %>
        <% border_color = "#8FD694" %>
      <% else %>
        <% border_color = "#B9F5F2" %>
    <% end %>

    <%= render 'edit_task_form', task: task %>

    <div class="task-card" style="border-left: 16px solid <%= border_color %>">
        <div id="task-plus-date">
          <div id="task-desc"><%= task.description %></div>
          <div class="date"><%= task.due_date %></div>
          <div><% task.priority %></div>
          <div id="task-icons">
            <% if current_user && policy(task).destroy? %>
              <%= link_to task_path(task),
                  method: "DELETE",
                  data: { modal_confirm: "Are you sure you want to get rid of #{task.description}?"} do %>
                  <i class="far fa-trash-alt task-icon"></i>
                <% end %>
            <% end %>

            <% if current_user && policy(task).update? %>
              <%# render'/tasks/task_form', task: @task
                  method: "PATCH",  do %>
              <i class="fas fa-pencil-alt task-icon" data-toggle="modal" data-target="#edit-task-modal-<%= task.id %>"></i>
              <%# end %>
            <% end %>
          </div>
        </div>
        <div>
          <% if current_user && policy(task).mark_as_complete? %>
            <%= link_to "/tasks/#{task.id}/complete", method: "PATCH" do %>
                <i id="checkbox" class="far fa-square"></i>
            <% end %>
          <% end %>
        </div>
    </div>
  <% end %>
</div>

