<% content_for :meta_title, "Green Thumb | Edit a Plot" %>
<% content_for :meta_description, "Did the dimensions of your empty plot change? Update it here." %>
<div class="container mt-5">
  <h1>Edit your plot</h1>
  <div class="form">
    <%= simple_form_for @plot, method: 'patch' do |f| %>
      <%= f.input :name %>
      <%= f.input :length_m, label: 'Length (m)' %>
      <%= f.input :width_m, label: 'Width (m)' %>
      <%= f.button :submit, value = 'Edit', class: 'garden-button' %>
    <% end %>
  </div>
</div>
