<div class="container mt-5">
  <h1>Add a new plot to your garden</h1>
  <div class="fomr">
    <%= simple_form_for [@garden, @plot] do |f| %>
      <%= f.input :name %>
      <%= f.input :length_m, label: 'Length (m)' %>
      <%= f.input :width_m, label: 'Width (m)' %>
      <%= f.button :submit, value = 'Add', class: 'garden-button' %>
    <% end %>
  </div>
</div>

