<% content_for :meta_title, "Green Thumb | Create a Plot" %>
<% content_for :meta_description, "Give us the dimensions of your new plot and we'll help you plan out what to plant where." %>
<div class="container mt-5">
  <h1>Add a new plot to your garden</h1>
  <div class="fomr">
    <%= simple_form_for [@garden, @plot] do |f| %>
      <%= f.input :name %>
      <%= f.input :length_m, label: 'Length (m)' %>
      <%= f.input :width_m, label: 'Width (m)' %>
      <%= f.button :submit, value = 'Add', class: 'garden-button' %>
    <% end %>
  </div>
</div>

