<h1><%= @plot.name %></h1>

<!-- List all the plant in the plot -->
<ul>
  <% @plot.plants.each do|plant| %>
    <li>
      <%= plant.plant_type.name %>
      <%= plant.plant_date %>
      <%= link_to "x", plant_path(plant), method: 'delete',
          data: { confirm: "Are you sure you want to remove this plant?"} %>
    </li>
  <% end %>
</ul>

<div id='plot-container' data-plants=<%= @plants_json %> data-grid=<%= 100 %> data-length=<%= @plot.length_mm %> data-width=<%= @plot.width_mm %>>
</div>

<!-- Links -->
<%= link_to "Edit Plot", edit_plot_path(@plot) %>
<%= link_to "Delete plot", plot_path(@plot), method: 'delete',
    data: { confirm: "Are you sure you want to delete #{@plot.name}?"} %>


<h2>Add a plant</h2>
<%= simple_form_for [@plot, @plant], method: 'post' do |f| %>
  <%= f.association :plant_type, collection: @plant_types %>
  <%= f.input :plant_date %>
  <%= f.button :submit, value = 'Plant!'%>
<% end %>
