<h1><%= @plot.name %></h1>

<!-- List all the plant in the plot -->
<p> <% @plants.each do|plant| %>
    <p><%=plant.plant_type.name  %></p>
  <% end %>
</p>

<div id='plot-container' style="margin: 0 auto; border: 2px solid black" data-plants=<%= @plants_json %> data-length=<%= @plot.length_mm %> data-width=<%= @plot.width_mm %>>
</div>


<!-- Links -->
<%= link_to "Edit Plot", edit_plot_path(@plot) %>
<%= link_to "Delete plot", plot_path(@plot), method: 'delete',
  data: { confirm: "Are you sure you want to delete #{@plot.name}?"} %>
