<div class="mobile-navbar">
  <div class="navbar-menu-items">
    <%= link_to tasks_path do %>
      <i class="las la-tasks"></i>
      <% end %>
    <p>Tasks</p>
  </div>
  <div class="navbar-menu-items">
    <%= link_to waterings_path do %>
      <i class="las la-tint"></i>
      <% end %>
    <p>Watering</p>
  </div>
  <div class="navbar-menu-items">
    <%= link_to gardens_path do %>
      <i class="las la-seedling"></i>
      <% end %>
    <p>Garden</p>
  </div>
  <div class="navbar-menu-items">
      <!-- This will eventually be to weather_station_path -->
      <%= link_to weather_stations_path do %>
      <i class="las la-cloud-sun"></i>
      <% end %>
    <p>Weather</p>
  </div>
  <div class="navbar-menu-items">
      <!-- This is currently NOT to conversations page -->
      <%= link_to gardens_path do %>
      <i class="las la-users"></i>
      <% end %>
    <p>Connect</p>
  </div>
</div>
