<h1>Dashboard</h1>

<!-- Links -->
<%= link_to "My garden", gardens_path %>
<br>
<%= link_to "Tasks", tasks_path %>
<br>
<%= link_to "Watering", waterings_path %>
<br>
<%= link_to "Weather", weather_stations_path %>
<br>
<%= link_to "Conversations", conversations_path %>
