<% content_for :meta_title, "Green Thumb | Welcome #{current_user.first_name }" %>
<% content_for :meta_description, " Welcome to your dashboard, this page will help you manage your garden easily" %>
<div class="menu-headline">
  <h1> Hi, <%= current_user.first_name %></h1>
</div>

<!-- Links -->
<div class="list" id="dashboard-list">
  <div class="dashboard-card">
    <div class="dashboard-card-content">
       <i class="las la-seedling"></i>
      <%= link_to "My Garden", gardens_path %>
    </div>
  </div>
  <div class="dashboard-card">
    <div class="dashboard-card-content">
      <i class="las la-tasks"></i>
      <%= link_to "Tasks", tasks_path %>
    </div>
  </div>
  <div class="dashboard-card">
    <div class="dashboard-card-content">
      <i class="las la-tint"></i>
      <%= link_to "Watering", waterings_path %>
    </div>
  </div>
  <div class="dashboard-card">
    <div class="dashboard-card-content">
      <i class="las la-cloud-sun"></i>
      <%= link_to "Weather", weather_stations_path %>
    </div>
  </div>
  <div class="dashboard-card">
    <div class="dashboard-card-content">
      <i class="far fa-comments"></i>
      <%= link_to "Connect", "#" %>
    </div>
  </div>
</div>

