<% content_for :meta_title, "Green Thumb | This is your garden" %>
<% content_for :meta_description, " Welcome to your dashboard, this page will help you manage your garden easily" %>
<div class="menu-headline">
  <h1><%= @garden.name %></h1>
</div>

<div class="list">
  <% if @plots.nil? || @plots.empty? %>
    <!-- Let the user know they don't have any plots -->
    <p>Sorry! You don't have any plots yet</p>
  <% else %>
    <!-- display all the users plots as cards -->
      <% @plots.each_with_index do |plot, i| %>
        <%= link_to plot_path(plot), class: "plot-card" do %>
          <div class="plot-card-inner-wrapper">
            <!-- accesses cloudinary .png for the Main Plant of the plot -->
            <%= cl_image_tag @main_plant_img[i], id: "plot-card-icon" %>
            <%= plot.name %>
          </div>
        <% end %>
      <% end %>
  <% end %>
  <div>
      <%= link_to "New Plot", new_garden_plot_path(@garden), class: 'garden-button' %>
  </div>
</div>
