    <% if data[:temp_c] > 24 %>
        <!-- hot -->
        <% weather_border = "#FA520A" %>
        <% elsif data[:temp_c] < 10 %>
          <!-- cold -->
            <% weather_border = "#FA9E0A" %>
        <% else %>
          <!-- Medium -->
            <% weather_border = "#B9F5F2" %>
        <% end %>

<div id="current-weather-card" class="weather-card" style="border-left: 16px solid <%= weather_border %>">
  <div class="weather-icon"><%= image_tag "weather_icons/#{data[:icon]}.png" %></div>
    <div id="weather-card-text">
      <div><%= "#{data[:timestamp].strftime("%l:%M %P %A, %b %e")}" %></div>
      <div><%= "Sunrise: #{data[:sunrise].strftime("%l:%M %P")}" %></div>
      <div><%= "Sunset: #{data[:sunset].strftime("%l:%M %P")}" %></div>
      <div><%= "Temp (°C): #{data[:temp_c]}" %></div>
      <div><%= "Feels like (°C): #{data[:temp_feels_like_c]}" %></div>
      <div><%= "Humidity (%): #{data[:humidity_perc]}" %></div>
      <!-- <div><%= "Pressure (hPa): #{data[:pressure_hPa]}" %></div> -->
      <div><%= "Wind (km/h): #{data[:wind_direction]} #{(data[:wind_speed_mps]*3.6).round(0)}" %></div>
      <div><%= "Rain last 3 hrs (mm): #{data[:rain_3h_mm].round(1)}" %></div>
      <% unless data[:snow_3h_mm].zero? %>
        <div><%= "Snow last 3 hrs (mm): #{data[:snow_3h_mm].round(1)}" %></div>
      <% end %>
      <div><%= "Description: #{data[:description]}" %></div>
  </div>
</div>

