<% if data[:temp_c] > 24 %>
  <!-- hot -->
  <% weather_border = "#FA520A" %>
<% elsif data[:temp_c] < 10 %>
  <!-- cold -->
  <% weather_border = "#B9F5F2" %>
<% else %>
  <!-- Medium -->
  <% weather_border = "#8FD694" %>
<% end %>

<div id="current-weather-card" class="weather-card" style="border-left: 16px solid <%= weather_border %>">
  <div class="weather-card-temperature">
    <div class="weather-icon"><%= image_tag "weather_icons/#{data[:icon]}.png" %></div>
      <div class="temperature">
        <p class= "current-temp"><%= "#{data[:temp_c].round(1)}°C" %></p>
        <p class="feel-like"><%= "Feels like: #{data[:temp_feels_like_c].round(1)}°C" %></p>
      </div>
  </div>
    <div id="weather-card-text">
      <div class="sun">
        <p> <%= image_tag 'weather_icons/dawn.svg'%> <%="#{data[:sunrise].strftime("%l:%M %P")}" %></p>
        <p><%= image_tag 'weather_icons/sunset.svg'%> <%= "#{data[:sunset].strftime("%l:%M %P")}" %></p>
      </div>
      <p><%= "Humidity: #{data[:humidity_perc].round(0)}%" %></p>
      <!-- <div><%= "Pressure (hPa): #{data[:pressure_hPa]}" %></div> -->
      <p><%= "Wind: #{data[:wind_direction]} #{(data[:wind_speed_mps]*3.6).round(0)} km/h" %></p>
      <p><%= "Rain last 24 hrs: #{data[:tot_rain_24_hr_mm].nil? ? 0.0 : data[:tot_rain_24_hr_mm].round(1)} mm" %></p>
      <% unless data[:tot_snow_24_hr_mm].nil? || data[:tot_snow_24_hr_mm].zero? %>
        <p><%= "Snow last 24 hrs: #{data[:tot_snow_24_hr_mm].round(1)} mm" %></p>
      <% end %>
  </div>
</div>

