<h1>Weather</h1>

<!-- Station name and country -->
<h3><%= "#{@station.name}, #{@station.country}" %></h3>

<!-- Current forecast -->
<%= render "current", data: @current %>

<!-- Render a forecast partial for each day of the 3 day forecast -->
<% @forecast.each_with_index do |(day, data), index| %>
  <% if index == 0 %>
    <%= render "forecast", day: day, data: data, class: "carousel-active" %>
  <% else %>
    <%= render "forecast", day: day, data: data, class: "" %>
  <% end %>
<% end %>

<!-- Links -->
<%= link_to "Back to dashboard", dashboard_path %>
