<div class="container-fluid">
  <h1><%= @plot.name %></h1>
    <% @watering_groups.each do |plant_type, plants| %>
      <div class="watering-plot-card-content">
        <p><%= plant_type.name %></p>
        <ul>
          <% plants.each do |plant| %>
            <div class="watering-plot-card-content">
              <li>
                <% waterings_to_do = plant.waterings.where(done: false) %>
                <% waterings_to_do.each do |watering| %>
                <div class="watering-plot-card-info">
                  <p><%= watering.ammount_L %>L</p><%= link_to "done?", complete_watering_path(watering),
                      method: "PATCH",
                      data: { confirm: "Are You Sure You Want to complete this watering task?"} %>
                </div>
                <% end %>
              </li>
            </div>
          <% end %>
        </ul>
      </div>
    <% end %>
          <%= link_to "all done?", plot_complete_waterings_path(@plot),
                      method: "PATCH",
                      data: { confirm: "Are You Sure You Want to complete all the watering's tasks?"} %>
  <div id='plot-container' data-plants=<%= @plants_json %> data-grid=<%= 100 %> data-length=<%= @plot.length_mm %> data-width=<%= @plot.width_mm %>>
  </div>
</div>
